Related page: https://model.earth/data-commons/docs/data

TO DO: Reduce objust to just state number 01 instead of geoId/01

# Installations and Imports

In [26]:
pip install datacommons_pandas

Requirement already satisfied: datacommons_pandas in c:\users\priya\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.0.3)
Requirement already satisfied: six in c:\users\priya\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from datacommons_pandas) (1.16.0)
Requirement already satisfied: pandas in c:\users\priya\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from datacommons_pandas) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\priya\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->datacommons_pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\priya\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->datacommons_pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\priya\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->datacommons_pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\priya\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas->datacommons_pandas) (2024.1)
Note: you may need to restart the kernel to use updated packages.

In [27]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)
import datacommons_pandas as dc
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import requests

# Data Pull for all the states in the USA

In [28]:
stateDict = {
    "AL": "Alabama", "AK": "Alaska", "AZ": "Arizona", "AR": "Arkansas", "CA": "California", "CO": "Colorado",
    "CT": "Connecticut", "DE": "Delaware", "FL": "Florida", "GA": "Georgia", "HI": "Hawaii", "ID": "Idaho",
    "IL": "Illinois", "IN": "Indiana", "IA": "Iowa", "KS": "Kansas", "KY": "Kentucky", "LA": "Louisiana",
    "ME": "Maine", "MD": "Maryland", "MA": "Massachusetts", "MI": "Michigan", "MN": "Minnesota", "MS": "Mississippi",
    "MO": "Missouri", "MT": "Montana", "NE": "Nebraska", "NV": "Nevada", "NH": "New Hampshire", "NJ": "New Jersey",
    "NM": "New Mexico", "NY": "New York", "NC": "North Carolina", "ND": "North Dakota", "OH": "Ohio", "OK": "Oklahoma",
    "OR": "Oregon", "PA": "Pennsylvania", "RI": "Rhode Island", "SC": "South Carolina", "SD": "South Dakota",
    "TN": "Tennessee", "TX": "Texas", "UT": "Utah", "VT": "Vermont", "VA": "Virginia", "WA": "Washington",
    "WV": "West Virginia", "WI": "Wisconsin", "WY": "Wyoming",
    "DC": "District of Columbia",
    # US Territories
    "AS": "American Samoa", "GU": "Guam", "MP": "Northern Mariana Islands", "PR": "Puerto Rico", "VI": "Virgin Islands of the U.S."
}

stateData = pd.DataFrame(list(stateDict.items()),columns = ['State','StateName'])
stateData.head()

  State   StateName
0    AL     Alabama
1    AK      Alaska
2    AZ     Arizona
3    AR    Arkansas
4    CA  California

In [29]:
def get_state_ids():
  # Getting the states  dcids
  state_dcids = dc.get_places_in(['country/USA'], 'State')
  # Getting the names of the states
  state_names = [dc.get_property_values([name], 'name') for name in state_dcids['country/USA']]

  data = {}
  for entry in state_names:
      for k,v in entry.items():
          data[k] = v[0]

  # Adding Rest 4 US Territories
  for k,v in dc.get_property_values(['geoId/60','geoId/66','geoId/69','geoId/78'], 'name').items():
      data[k] = v[0]
  return data

In [30]:
state_ids_data = get_state_ids()
state_ids_data

{'geoId/01': 'Alabama',
 'geoId/02': 'Alaska',
 'geoId/04': 'Arizona',
 'geoId/05': 'Arkansas',
 'geoId/06': 'California',
 'geoId/08': 'Colorado',
 'geoId/09': 'Connecticut',
 'geoId/10': 'Delaware',
 'geoId/11': 'District of Columbia',
 'geoId/12': 'Florida',
 'geoId/13': 'Georgia',
 'geoId/15': 'Hawaii',
 'geoId/16': 'Idaho',
 'geoId/17': 'Illinois',
 'geoId/18': 'Indiana',
 'geoId/19': 'Iowa',
 'geoId/20': 'Kansas',
 'geoId/21': 'Kentucky',
 'geoId/22': 'Louisiana',
 'geoId/23': 'Maine',
 'geoId/24': 'Maryland',
 'geoId/25': 'Massachusetts',
 'geoId/26': 'Michigan',
 'geoId/27': 'Minnesota',
 'geoId/28': 'Mississippi',
 'geoId/29': 'Missouri',
 'geoId/30': 'Montana',
 'geoId/31': 'Nebraska',
 'geoId/32': 'Nevada',
 'geoId/33': 'New Hampshire',
 'geoId/34': 'New Jersey',
 'geoId/35': 'New Mexico',
 'geoId/36': 'New York',
 'geoId/37': 'North Carolina',
 'geoId/38': 'North Dakota',
 'geoId/39': 'Ohio',
 'geoId/40': 'Oklahoma',
 'geoId/41': 'Oregon',
 'geoId/42': 'Pennsylvania',
 'geoId/44': 'Rhode Island',
 'geoId/45': 'South Carolina',
 'geoId/46': 'South Dakota',
 'geoId/47': 'Tennessee',
 'geoId/48': 'Texas',
 'geoId/49': 'Utah',
 'geoId/50': 'Vermont',
 'geoId/51': 'Virginia',
 'geoId/53': 'Washington',
 'geoId/54': 'West Virginia',
 'geoId/55': 'Wisconsin',
 'geoId/56': 'Wyoming',
 'geoId/72': 'Puerto Rico',
 'geoId/60': 'American Samoa',
 'geoId/66': 'Guam',
 'geoId/69': 'Northern Mariana Islands',
 'geoId/78': 'Virgin Islands of the U.S.'}

In [19]:
# CO2 = Annual_Emissions_CarbonDioxide_NonBiogenic -- State
# Methane = Annual_Emissions_Methane_NonBiogenic -- State
# Population = Count_Person -- State

def fetch_timelines_data():
  # Getting DCIDs for all the states
  state_ids_data = get_state_ids()
  # Getting the timelines data
  timelines_data = {}
  for key,value in state_ids_data.items():
    try:
      timelines_data[value] = {'Population':round(dc.get_stat_all([key], ['Count_Person'])[key]['Count_Person']['sourceSeries'][0]['val']['2022'],2)}
    except:
      timelines_data[value] = {'Population':0.00}
    try:
      timelines_data[value].update({'CO2':round(dc.get_stat_all([key], ['Annual_Emissions_CarbonDioxide_NonBiogenic'])[key]['Annual_Emissions_CarbonDioxide_NonBiogenic']['sourceSeries'][0]['val']['2021'],2)})
    except:
      timelines_data[value].update({'CO2':0.00})
    try:
      timelines_data[value].update({'Methane':round(dc.get_stat_all([key], ['Annual_Emissions_Methane_NonBiogenic'])[key]['Annual_Emissions_Methane_NonBiogenic']['sourceSeries'][0]['val']['2021'],2)})
    except:
      timelines_data[value].update({'Methane':0.00})

  # Creating the dataframe
  normalized_data = []
  for state, values in timelines_data.items():
      entry = {'StateName': state}
      entry.update(values)
      normalized_data.append(entry)
  dataframe = pd.DataFrame(normalized_data)

  # Adding state abbreviations to the dataframe
  dataframe = stateData.merge(dataframe,how = 'inner',on='StateName')

  # Dividing the data by 1000 and rounding to 2 decimals
  # for col in dataframe.iloc[:,2:]:
  #     dataframe[col] = round(dataframe[col]/1000,2)

  return dataframe

In [22]:
timelines_df = fetch_timelines_data()
timelines_df.head()

  State   StateName  Population         CO2    Methane
0    AL     Alabama  5074296.00 68215710.10 7657440.42
1    AK      Alaska   733583.00 16939106.60  871681.75
2    AZ     Arizona  7359197.00 38392400.30 1361141.25
3    AR    Arkansas  3045637.00 36628789.10 2123889.00
4    CA  California 39029342.00 91754567.10 8737629.75

In [23]:
# Fetching the data for land area of the states
area_data = gpd.read_file(f'https://www2.census.gov/geo/tiger/GENZ2023/shp/cb_2023_us_state_500k.zip')
area_data["SqMiles"] = round(area_data['ALAND']/ 2589988.110336,2)
area_data.head()

,STATEFP,STATENS,GEOIDFQ,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry,SqMiles
0,35,00897535,0400000US35,35,NM,New Mexico,00,314198587197,726463919,"POLYGON ((-109.05017 31.48, -109.04984 31.4995...",121312.75
1,46,01785534,0400000US46,46,SD,South Dakota,00,196341525171,3387709166,"POLYGON ((-104.05788 44.9976, -104.05078 44.99...",75807.89
2,06,01779778,0400000US06,06,CA,California,00,403673296401,20291770234,"MULTIPOLYGON (((-118.60442 33.47855, -118.5987...",155859.13
3,21,01779786,0400000US21,21,KY,Kentucky,00,102266598312,2384223544,"MULTIPOLYGON (((-89.40565 36.52816, -89.39868 ...",39485.35
4,01,01779775,0400000US01,01,AL,Alabama,00,131185049346,4582326383,"MULTIPOLYGON (((-88.05338 30.50699, -88.05109 ...",50650.83

In [24]:
timelines_df = timelines_df.merge(area_data[['STUSPS','SqMiles']], how='inner', left_on='State', right_on='STUSPS')
timelines_df.drop(columns = ['STUSPS'],inplace=True)
timelines_df

,State,StateName,Population,CO2,Methane,SqMiles
0,AL,Alabama,5074296.00,68215710.10,7657440.42,50650.83
1,AK,Alaska,733583.00,16939106.60,871681.75,571051.62
2,AZ,Arizona,7359197.00,38392400.30,1361141.25,113655.39
3,AR,Arkansas,3045637.00,36628789.10,2123889.00,51992.70
4,CA,California,39029342.00,91754567.10,8737629.75,155859.13
5,CO,Colorado,5839926.00,50334501.47,8793630.94,103637.06
6,CT,Connecticut,3626205.00,10812606.90,309106.88,4842.40
7,DE,Delaware,1018396.00,5142434.00,401666.25,1948.54
8,FL,Florida,22244823.00,102634265.80,6603958.08,53654.21
9,GA,Georgia,10912876.00,48611013.40,5377826.75,57716.60
10,HI,Hawaii,1440196.00,6673998.50,208836.00,6422.59
11,ID,Idaho,1939033.00,4517006.40,558383.25,82645.12
12,IL,Illinois,12582032.00,79693912.10,5301279.83,55513.14
13,IN,Indiana,6833037.00,100804811.40,5277592.25,35825.11
14,IA,Iowa,3200517.00,45162631.10,1500489.00,55853.26
15,KS,Kansas,2937150.00,32461764.30,1463059.50,81758.59
16,KY,Kentucky,4512310.00,64178466.30,2891220.83,39485.35
17,LA,Louisiana,4590241.00,116792448.50,3368345.25,43216.59
18,ME,Maine,1385340.00,2910159.90,208122.20,30845.04
19,MD,Maryland,6164660.00,17015846.40,1164380.50,9711.14
20,MA,Massachusetts,6981974.00,8637534.50,674953.25,7800.94
21,MI,Michigan,10034113.00,66347748.90,5256869.50,56610.28
22,MN,Minnesota,5717184.00,35987013.42,1675892.50,79631.47
23,MS,Mississippi,2940057.00,29458753.50,1576142.20,46924.36
24,MO,Missouri,6177957.00,70588151.40,1651448.75,68746.36
25,MT,Montana,1122867.00,15890735.90,446921.75,145550.16
26,NE,Nebraska,1967923.00,24174384.40,1070504.25,76814.87
27,NV,Nevada,3177772.00,14058510.20,261100.00,109860.37
28,NH,New Hampshire,1395231.00,2329557.00,392252.00,8953.76
29,NJ,New Jersey,9261699.00,18687475.60,1602841.75,7354.93
30,NM,New Mexico,2113344.00,24897238.03,2772705.94,121312.75
31,NY,New York,19677151.00,33983922.00,2724197.65,47123.41
32,NC,North Carolina,10698973.00,39118920.20,4155219.25,48624.12
33,ND,North Dakota,779261.00,38679390.91,901446.08,68994.27
34,OH,Ohio,11756058.00,96132324.92,6528390.40,40858.81
35,OK,Oklahoma,4019800.00,52312148.17,7676408.28,68596.64
36,OR,Oregon,4240137.00,11214401.30,807873.25,95996.74
37,PA,Pennsylvania,12972008.00,101933293.20,13102076.80,44742.23
38,RI,Rhode Island,1093734.00,3621407.30,151563.60,1033.89
39,SC,South Carolina,5282634.00,32699950.50,1915535.20,30064.23
40,SD,South Dakota,909824.00,5346409.10,311802.00,75807.89
41,TN,Tennessee,7051339.00,32511084.10,2318727.12,41232.74
42,TX,Texas,30029572.00,382860204.18,36975520.28,261270.02
43,UT,Utah,3380800.00,36065743.30,1572522.98,82595.69
44,VT,Vermont,647064.00,130626.10,55130.75,9217.26
45,VA,Virginia,8683619.00,32731139.70,5569921.33,39482.10
46,WA,Washington,7785786.00,19942315.70,1616991.50,66455.43
47,WV,West Virginia,1775156.00,64439685.00,9443996.50,24041.23
48,WI,Wisconsin,5892539.00,42563805.60,1272153.00,54167.29
49,WY,Wyoming,581381.00,50790072.30,627354.25,97088.54
50,DC,District of Columbia,671803.00,88594.00,41.50,61.13
51,AS,American Samoa,0.00,0.00,0.00,76.36
52,GU,Guam,0.00,0.00,0.00,209.87
53,MP,Northern Mariana Islands,0.00,0.00,0.00,182.35
54,PR,Puerto Rico,3221789.00,1479745.60,515814.25,3424.35
55,VI,Virgin Islands of the U.S.,0.00,0.00,0.00,134.37

In [ ]:
# Converting to a CSV file
timelines_df.to_csv('UN_Timelines_Data.csv', index=False)

## Push CSV to Github

In [ ]:
!apt-get install git

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
git is already the newest version (1:2.34.1-1ubuntu1.11).
0 upgraded, 0 newly installed, 0 to remove and 45 not upgraded.

In [ ]:
from google.colab import userdata

In [ ]:
#user information
token = userdata.get('Githubtoken')
USERNAME = "ultracatx"
REPO_NAME = "data-commons-me"
EMAIL = "ivyzhou752@gmail.com"

repo_url = f"https://{token}@github.com/{USERNAME}/{REPO_NAME}.git"

In [ ]:
#config git global user information
!git config --global user.email {EMAIL}
!git config --global user.name {USERNAME}

In [ ]:
#clone repo to local
!git clone {repo_url}

Cloning into 'data-commons-me'...
remote: Enumerating objects: 645, done.
remote: Counting objects: 100% (257/257), done.
remote: Compressing objects: 100% (154/154), done.
remote: Total 645 (delta 152), reused 169 (delta 85), pack-reused 388 (from 1)
Receiving objects: 100% (645/645), 11.26 MiB | 12.45 MiB/s, done.
Resolving deltas: 100% (228/228), done.

In [ ]:
#move csv from /content to repo
!mv UN_Timelines_Data.csv data-commons-me/docs/data

In [ ]:
%cd /content/data-commons-me/docs/data

/content/data-commons-me/docs/data

In [ ]:
!git add UN_Timelines_Data.csv

In [ ]:
!git commit -m "tpush csv to repo"

[main d738a91] test
 1 file changed, 57 deletions(-)
 delete mode 100644 docs/data/UN_Timelines_Data.csv

In [ ]:
!git push {repo_url}

Enumerating objects: 7, done.
Counting objects: 100% (7/7), done.
Delta compression using up to 2 threads
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 383 bytes | 383.00 KiB/s, done.
Total 4 (delta 2), reused 1 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
remote: This repository moved. Please use the new location:
remote:   https://github.com/Ultracatx/data-commons-me.git
To https://github.com/ultracatx/data-commons-me.git
   a66375a..d738a91  main -> main

# Data Pull for all the countries

In [ ]:
def get_country_ids():
    country_dcids = dc.get_places_in(['Earth'], 'Country')
    country_names = {dcid: dc.get_property_values([dcid], 'name')[dcid][0] for dcid in country_dcids['Earth']}
    return country_names

country_ids_data = get_country_ids()
country_ids_data

{'country/ABW': 'Aruba',
 'country/AFG': 'Afghanistan',
 'country/AGO': 'Angola',
 'country/AIA': 'Anguilla',
 'country/ALA': 'Åland Islands',
 'country/ALB': 'Albania',
 'country/AND': 'Andorra',
 'country/ANT': 'Netherlands Antilles',
 'country/ARE': 'United Arab Emirates',
 'country/ARG': 'Argentina',
 'country/ARM': 'Armenia',
 'country/ASM': 'American Samoa',
 'country/ATA': 'Antarctica',
 'country/ATB': 'British Antarctic Territory',
 'country/ATF': 'French Southern Territories',
 'country/ATG': 'Antigua and Barbuda',
 'country/ATN': 'Dronning Maud Land',
 'country/AUS': 'Australia',
 'country/AUT': 'Austria',
 'country/AZE': 'Azerbaijan',
 'country/BDI': 'Burundi',
 'country/BEL': 'Belgium',
 'country/BEN': 'Benin',
 'country/BES': 'Bonaire, Sint Eustatius and Saba',
 'country/BFA': 'Burkina Faso',
 'country/BGD': 'Bangladesh',
 'country/BGR': 'Bulgaria',
 'country/BHR': 'Bahrain',
 'country/BHS': 'Bahamas',
 'country/BIH': 'Bosnia and Herzegovina',
 'country/BLM': 'Saint Barthélemy',
 'country/BLR': 'Belarus',
 'country/BLZ': 'Belize',
 'country/BMU': 'Bermuda',
 'country/BOL': 'Bolivia',
 'country/BRA': 'Brazil',
 'country/BRB': 'Barbados',
 'country/BRN': 'Brunei',
 'country/BTN': 'Bhutan',
 'country/BVT': 'Bouvet Island',
 'country/BWA': 'Botswana',
 'country/CAF': 'Central African Republic',
 'country/CAN': 'Canada',
 'country/CCK': 'Cocos (Keeling) Islands',
 'country/CHE': 'Switzerland',
 'country/CHL': 'Chile',
 'country/CHN': 'China',
 'country/CIV': "Côte d'Ivoire",
 'country/CMR': 'Cameroon',
 'country/COD': 'Congo [DRC]',
 'country/COG': 'Congo [Republic]',
 'country/COK': 'Cook Islands',
 'country/COL': 'Colombia',
 'country/COM': 'Comoros',
 'country/CPV': 'Cape Verde',
 'country/CRI': 'Costa Rica',
 'country/CTE': 'Canton and Enderbury Islands',
 'country/CUB': 'Cuba',
 'country/CUW': 'Curaçao',
 'country/CXR': 'Christmas Island',
 'country/CYM': 'Cayman Islands',
 'country/CYP': 'Cyprus',
 'country/CZE': 'Czech Republic',
 'country/DEU': 'Germany',
 'country/DJI': 'Djibouti',
 'country/DMA': 'Dominica',
 'country/DNK': 'Denmark',
 'country/DOM': 'Dominican Republic',
 'country/DZA': 'Algeria',
 'country/ECU': 'Ecuador',
 'country/EGY': 'Egypt',
 'country/ERI': 'Eritrea',
 'country/ESH': 'Western Sahara',
 'country/ESP': 'Spain',
 'country/EST': 'Estonia',
 'country/ETH': 'Ethiopia',
 'country/FIN': 'Finland',
 'country/FJI': 'Fiji',
 'country/FLK': 'Falkland Islands',
 'country/FRA': 'France',
 'country/FRO': 'Faroe Islands',
 'country/FSM': 'Federated States of Micronesia',
 'country/FXX': 'Metropolitan France',
 'country/GAB': 'Gabon',
 'country/GBR': 'United Kingdom',
 'country/GEO': 'Georgia',
 'country/GGY': 'Guernsey',
 'country/GHA': 'Ghana',
 'country/GIB': 'Gibraltar',
 'country/GIN': 'Guinea',
 'country/GLP': 'Guadeloupe',
 'country/GMB': 'Gambia',
 'country/GNB': 'Guinea-Bissau',
 'country/GNQ': 'Equatorial Guinea',
 'country/GRC': 'Greece',
 'country/GRD': 'Grenada',
 'country/GRL': 'Greenland',
 'country/GTM': 'Guatemala',
 'country/GUF': 'French Guiana',
 'country/GUM': 'Guam',
 'country/GUY': 'Guyana',
 'country/HKG': 'Hong Kong',
 'country/HMD': 'Heard Island and McDonald Islands',
 'country/HND': 'Honduras',
 'country/HRV': 'Croatia',
 'country/HTI': 'Haiti',
 'country/HUN': 'Hungary',
 'country/IDN': 'Indonesia',
 'country/IMN': 'Isle of Man',
 'country/IND': 'India',
 'country/IOT': 'British Indian Ocean Territory',
 'country/IRL': 'Ireland',
 'country/IRN': 'Iran',
 'country/IRQ': 'Iraq',
 'country/ISL': 'Iceland',
 'country/ISR': 'Israel',
 'country/ITA': 'Italy',
 'country/JAM': 'Jamaica',
 'country/JEY': 'Jersey',
 'country/JOR': 'Jordan',
 'country/JPN': 'Japan',
 'country/KAZ': 'Kazakhstan',
 'country/KEN': 'Kenya',
 'country/KGZ': 'Kyrgyzstan',
 'country/KHM': 'Cambodia',
 'country/KIR': 'Kiribati',
 'country/KNA': 'Saint Kitts and Nevis',
 'country/KOR': 'South Korea',
 'country/KWT': 'Kuwait',
 'country/LAO': 'Laos',
 'country/LBN': 'Lebanon',
 'country/LBR': 'Liberia',
 'country/LBY': 'Libya',
 'country/LCA': 'Saint Lucia',
 'country/LIE': 'Liechtenstein',
 'country/LKA': 'Sri Lanka',
 'country/LSO': 'Lesotho',
 'country/LTU': 'Lithuania',
 'country/LUX': 'Luxembourg',
 'country/LVA': 'Latvia',
 'country/MAC': 'Macau',
 'country/MAF': 'Saint Martin',
 'country/MAR': 'Morocco',
 'country/MCO': 'Monaco',
 'country/MDA': 'Moldova',
 'country/MDG': 'Madagascar',
 'country/MDV': 'Maldives',
 'country/MEX': 'Mexico',
 'country/MHL': 'Marshall Islands',
 'country/MKD': 'Macedonia [FYROM]',
 'country/MLI': 'Mali',
 'country/MLT': 'Malta',
 'country/MMR': 'Myanmar',
 'country/MNE': 'Montenegro',
 'country/MNG': 'Mongolia',
 'country/MNP': 'Northern Mariana Islands',
 'country/MOZ': 'Mozambique',
 'country/MRT': 'Mauritania',
 'country/MSR': 'Montserrat',
 'country/MTQ': 'Martinique',
 'country/MUS': 'Mauritius',
 'country/MWI': 'Malawi',
 'country/MYS': 'Malaysia',
 'country/MYT': 'Mayotte',
 'country/NAM': 'Namibia',
 'country/NCL': 'New Caledonia',
 'country/NER': 'Niger',
 'country/NFK': 'Norfolk Island',
 'country/NGA': 'Nigeria',
 'country/NIC': 'Nicaragua',
 'country/NIU': 'Niue',
 'country/NLD': 'Netherlands',
 'country/NOR': 'Norway',
 'country/NPL': 'Nepal',
 'country/NRU': 'Nauru',
 'country/NZL': 'New Zealand',
 'country/OMN': 'Oman',
 'country/PAK': 'Pakistan',
 'country/PAN': 'Panama',
 'country/PCN': 'Pitcairn Islands',
 'country/PER': 'Peru',
 'country/PHL': 'Philippines',
 'country/PLW': 'Palau',
 'country/PNG': 'Papua New Guinea',
 'country/POL': 'Poland',
 'country/PRI': 'Puerto Rico',
 'country/PRK': 'North Korea',
 'country/PRT': 'Portugal',
 'country/PRY': 'Paraguay',
 'country/PSE': 'Palestinian Territories',
 'country/PYF': 'French Polynesia',
 'country/QAT': 'Qatar',
 'country/REU': 'Réunion',
 'country/ROU': 'Romania',
 'country/RUS': 'Russia',
 'country/RWA': 'Rwanda',
 'country/SAU': 'Saudi Arabia',
 'country/SDN': 'Sudan',
 'country/SEN': 'Senegal',
 'country/SGP': 'Singapore',
 'country/SGS': 'South Georgia and the South Sandwich Islands',
 'country/SHN': 'Saint Helena',
 'country/SJM': 'Svalbard and Jan Mayen',
 'country/SLB': 'Solomon Islands',
 'country/SLE': 'Sierra Leone',
 'country/SLV': 'El Salvador',
 'country/SMR': 'San Marino',
 'country/SOM': 'Somalia',
 'country/SPM': 'Saint Pierre and Miquelon',
 'country/SRB': 'Serbia',
 'country/SSD': 'South Sudan',
 'country/STP': 'São Tomé and Príncipe',
 'country/SUR': 'Suriname',
 'country/SVK': 'Slovakia',
 'country/SVN': 'Slovenia',
 'country/SWE': 'Sweden',
 'country/SWZ': 'Eswatini',
 'country/SXM': 'Sint Maarten',
 'country/SYC': 'Seychelles',
 'country/SYR': 'Syria',
 'country/TCA': 'Turks and Caicos Islands',
 'country/TCD': 'Chad',
 'country/TGO': 'Togo',
 'country/THA': 'Thailand',
 'country/TJK': 'Tajikistan',
 'country/TKL': 'Tokelau',
 'country/TKM': 'Turkmenistan',
 'country/TLS': 'East Timor',
 'country/TON': 'Tonga',
 'country/TTO': 'Trinidad and Tobago',
 'country/TUN': 'Tunisia',
 'country/TUR': 'Turkey',
 'country/TUV': 'Tuvalu',
 'country/TWN': 'Taiwan',
 'country/TZA': 'Tanzania',
 'country/UGA': 'Uganda',
 'country/UKR': 'Ukraine',
 'country/UMI': 'U.S. Minor Outlying Islands',
 'country/URY': 'Uruguay',
 'country/USA': 'United States',
 'country/UZB': 'Uzbekistan',
 'country/VAT': 'Vatican City',
 'country/VCT': 'Saint Vincent and the Grenadines',
 'country/VEN': 'Venezuela',
 'country/VGB': 'British Virgin Islands',
 'country/VIR': 'U.S. Virgin Islands',
 'country/VNM': 'Vietnam',
 'country/VUT': 'Vanuatu',
 'country/WLF': 'Wallis and Futuna',
 'country/WSM': 'Samoa',
 'country/XKS': 'Kosovo',
 'country/YEM': 'Yemen',
 'country/YUG': 'Yugoslavia',
 'country/ZAF': 'South Africa',
 'country/ZMB': 'Zambia',
 'country/ZWE': 'Zimbabwe'}

In [3]:
!pip install pycountry
import pycountry
def create_country_dataframe():
    country_dict = {country.alpha_2: country.name for country in pycountry.countries}
    country_data = pd.DataFrame(list(country_dict.items()), columns=['CountryCode', 'CountryName'])

    return country_data

country_data = create_country_dataframe()
country_data

Collecting pycountry
  Downloading pycountry-24.6.1-py3-none-any.whl.metadata (12 kB)
Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
   ---------------------------------------- 0.0/6.3 MB ? eta -:--:--
   -------------- ------------------------- 2.4/6.3 MB 13.4 MB/s eta 0:00:01
   ---------------------------------------- 6.3/6.3 MB 16.2 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-24.6.1

    CountryCode    CountryName
0            AW          Aruba
1            AF    Afghanistan
2            AO         Angola
3            AI       Anguilla
4            AX  Åland Islands
..          ...            ...
244          WS          Samoa
245          YE          Yemen
246          ZA   South Africa
247          ZM         Zambia
248          ZW       Zimbabwe

[249 rows x 2 columns]

In [ ]:
# CO2 = Annual_Emissions_CarbonDioxide_NonBiogenic
# Methane = Annual_Emissions_Methane_NonBiogenic
# Population = Count_Person
####I checked on https://datacommons.org/tools/download#pt=Country&place=Earth&sv=Count_Person&dtType=ALL&facets=%7B%7D,
#### And it seems like we don't have the same variable as states, shall we change another variable?


def fetch_timelines_data_country():
    # Getting DCIDs for all the countries
    country_ids_data = get_country_ids()

    # Getting the timelines data
    timelines_data = {}
    for key, value in country_ids_data.items():
        try:
            timelines_data[value] = {'Population': round(dc.get_stat_all([key], ['Count_Person'])[key]['Count_Person']['sourceSeries'][0]['val']['2022'], 2)}
        except:
            timelines_data[value] = {'Population': 0.00}
        try:
            timelines_data[value].update({'CO2': round(dc.get_stat_all([key], ['Annual_Emissions_CarbonDioxide_NonBiogenic'])[key]['Annual_Emissions_CarbonDioxide_NonBiogenic']['sourceSeries'][0]['val']['2021'], 2)})
        except:
            timelines_data[value].update({'CO2': 0.00})
        try:
            timelines_data[value].update({'Methane': round(dc.get_stat_all([key], ['Annual_Emissions_Methane_NonBiogenic'])[key]['Annual_Emissions_Methane_NonBiogenic']['sourceSeries'][0]['val']['2021'], 2)})
        except:
            timelines_data[value]. update({'Methane': 0.00})

    # Creating the dataframe
    normalized_data = []
    for country, values in timelines_data.items():
        entry = {'CountryName': country}
        entry.update(values)
        normalized_data.append(entry)
    dataframe = pd.DataFrame(normalized_data)

    return dataframe

timelines_country = fetch_timelines_data_country()
timelines_country.head()

     CountryName  Population  CO2  Methane
0          Aruba   106445.00 0.00     0.00
1    Afghanistan 41128771.00 0.00     0.00
2         Angola 35588987.00 0.00     0.00
3       Anguilla        0.00 0.00     0.00
4  Åland Islands        0.00 0.00     0.00

In [62]:
dc.get_stat_all(['geoId/01'],['Annual_Emissions_GreenhouseGas_NonBiogenic'])

{'geoId/01': {'Annual_Emissions_GreenhouseGas_NonBiogenic': {'sourceSeries': [{'val': {'2012': 101338411.829275,
      '2020': 72194584.9043,
      '2019': 79738704.6402,
      '2016': 88362942.285,
      '2021': 76949404.9401,
      '2010': 100269563.310365,
      '2011': 109514323.492,
      '2015': 96619315.0688,
      '2014': 102535115.322,
      '2013': 100367776.173,
      '2017': 83764978.9227,
      '2018': 86172746.6091},
     'measurementMethod': 'EPA_GHGRP',
     'observationPeriod': 'P1Y',
     'importName': 'EPA_GHGRP_AggCounty_AggState',
     'provenanceDomain': 'epa.gov',
     'unit': 'MetricTonCO2e',
     'isDcAggregate': True,
     'provenanceUrl': 'https://www.epa.gov/ghgreporting'}]}}}

In [72]:
#Emission data for GreenhouseGas and Lead
# GreenhouseGas = Annual_Emissions_GreenhouseGas_NonBiogenic -- State
#Lead=Annual_Emissions_GreenhouseGas_LeadProduction_NonBiogenic--State
# Population = Count_Person -- State

def fetch_timelines_data_ggas_lead():
  # Getting DCIDs for all the states
  state_ids_data = get_state_ids()
  # Getting the timelines data
  timelines_data = {}
  for key,value in state_ids_data.items():
    try:
      timelines_data[value] = {'Population':round(dc.get_stat_all([key], ['Count_Person'])[key]['Count_Person']['sourceSeries'][0]['val']['2022'],2)}
    except:
      timelines_data[value] = {'Population':0.00}
    try:
      timelines_data[value].update({'GreenhouseGas':round(dc.get_stat_all([key], ['Annual_Emissions_GreenhouseGas_NonBiogenic'])[key]['Annual_Emissions_GreenhouseGas_NonBiogenic']['sourceSeries'][0]['val']['2021'],2)})
    except:
      timelines_data[value].update({'GreenhouseGas':0.00})
    try:
      timelines_data[value].update({'Lead':round(dc.get_stat_all([key], ['Annual_Emissions_GreenhouseGas_LeadProduction_NonBiogenic'])[key]['Annual_Emissions_GreenhouseGas_LeadProduction_NonBiogenic']['sourceSeries'][0]['val']['2021'],2)})
    except:
      timelines_data[value].update({'Lead':0.00})

  # Creating the dataframe
  normalized_data = []
  for state, values in timelines_data.items():
      entry = {'StateName': state}
      entry.update(values)
      normalized_data.append(entry)
  dataframe = pd.DataFrame(normalized_data)

  # Adding state abbreviations to the dataframe
  dataframe = stateData.merge(dataframe,how = 'inner',on='StateName')

  return dataframe

In [73]:
# dc.get_stat_all(['geoId/01'],['Annual_Emissions_GreenhouseGas_LeadProduction_NonBiogenic'])

{'geoId/01': {'Annual_Emissions_GreenhouseGas_LeadProduction_NonBiogenic': {'sourceSeries': [{'val': {'2021': 174470.1,
      '2020': 182356.4,
      '2015': 184587.8,
      '2010': 159438,
      '2014': 192641.2,
      '2017': 197232.3,
      '2011': 179675,
      '2016': 211004.6,
      '2012': 194566.3,
      '2019': 182455.7,
      '2013': 196275,
      '2018': 190698.8},
     'measurementMethod': 'EPA_GHGRP',
     'observationPeriod': 'P1Y',
     'importName': 'EPA_GHGRP_AggCounty_AggState',
     'provenanceDomain': 'epa.gov',
     'unit': 'MetricTonCO2e',
     'isDcAggregate': True,
     'provenanceUrl': 'https://www.epa.gov/ghgreporting'}]}}}

In [74]:
timelines_df = fetch_timelines_data_ggas_lead()
timelines_df

   State                   StateName  Population  GreenhouseGas      Lead
0     AL                     Alabama  5074296.00    76949404.94 174470.10
1     AK                      Alaska   733583.00    17829879.72      0.00
2     AZ                     Arizona  7359197.00    40878981.54      0.00
3     AR                    Arkansas  3045637.00    39045544.29      0.00
4     CA                  California 39029342.00   100790742.86      0.00
5     CO                    Colorado  5839926.00    59523857.20      0.00
6     CT                 Connecticut  3626205.00    11151525.70      0.00
7     DE                    Delaware  1018396.00     5552608.15      0.00
8     FL                     Florida 22244823.00   116939550.83  80113.20
9     GA                     Georgia 10912876.00    54701039.32      0.00
10    HI                      Hawaii  1440196.00     6914719.96      0.00
11    ID                       Idaho  1939033.00     5111706.67      0.00
12    IL                    Illinois 12582032.00    86298912.20      0.00
13    IN                     Indiana  6833037.00   106690808.98  54180.20
14    IA                        Iowa  3200517.00    47631519.00      0.00
15    KS                      Kansas  2937150.00    34297024.86      0.00
16    KY                    Kentucky  4512310.00    70909647.31      0.00
17    LA                   Louisiana  4590241.00   123261482.83      0.00
18    ME                       Maine  1385340.00     3269770.83      0.00
19    MD                    Maryland  6164660.00    18239491.65      0.00
20    MA               Massachusetts  6981974.00     9434910.38      0.00
21    MI                    Michigan 10034113.00    71926756.50      0.00
22    MN                   Minnesota  5717184.00    38072338.92  73736.10
23    MS                 Mississippi  2940057.00    32068564.43      0.00
24    MO                    Missouri  6177957.00    73072413.56  79165.40
25    MT                     Montana  1122867.00    16405523.57      0.00
26    NE                    Nebraska  1967923.00    25373930.07      0.00
27    NV                      Nevada  3177772.00    14355556.70      0.00
28    NH               New Hampshire  1395231.00     2727080.62      0.00
29    NJ                  New Jersey  9261699.00    20391514.64      0.00
30    NM                  New Mexico  2113344.00    27818927.62      0.00
31    NY                    New York 19677151.00    37177914.63  46644.50
32    NC              North Carolina 10698973.00    44095840.88      0.00
33    ND                North Dakota   779261.00    39728979.14      0.00
34    OH                        Ohio 11756058.00   104031655.68      0.00
35    OK                    Oklahoma  4019800.00    61293096.64      0.00
36    OR                      Oregon  4240137.00    12963524.54      0.00
37    PA                Pennsylvania 12972008.00   115993274.68  15714.00
38    RI                Rhode Island  1093734.00     3774990.45      0.00
39    SC              South Carolina  5282634.00    34832570.41   5620.10
40    SD                South Dakota   909824.00     5671800.50      0.00
41    TN                   Tennessee  7051339.00    35031357.22      0.00
42    TX                       Texas 30029572.00   424072997.20      0.00
43    UT                        Utah  3380800.00    38047601.01      0.00
44    VT                     Vermont   647064.00      446168.47      0.00
45    VA                    Virginia  8683619.00    38630490.87      0.00
46    WA                  Washington  7785786.00    21944182.16      0.00
47    WV               West Virginia  1775156.00    74744225.66      0.00
48    WI                   Wisconsin  5892539.00    44003566.61      0.00
49    WY                     Wyoming   581381.00    51683749.15      0.00
50    DC        District of Columbia   671803.00       88686.16      0.00
51    AS              American Samoa        0.00           0.00      0.00
52    GU                        Guam        0.00           0.00      0.00
53    MP    Northern Mariana Islands        0.00           0.00      0.00
54    PR                 Puerto Rico  3221789.00     2032470.46      0.00
55    VI  Virgin Islands of the U.S.        0.00           0.00      0.00

In [77]:
timelines_df.to_csv('ggas_lead_emission.csv',index=False)
timelines_df = pd.read_csv('ggas_lead_emission.csv')
timelines_df

   State                   StateName  Population  GreenhouseGas      Lead
0     AL                     Alabama  5074296.00    76949404.94 174470.10
1     AK                      Alaska   733583.00    17829879.72      0.00
2     AZ                     Arizona  7359197.00    40878981.54      0.00
3     AR                    Arkansas  3045637.00    39045544.29      0.00
4     CA                  California 39029342.00   100790742.86      0.00
5     CO                    Colorado  5839926.00    59523857.20      0.00
6     CT                 Connecticut  3626205.00    11151525.70      0.00
7     DE                    Delaware  1018396.00     5552608.15      0.00
8     FL                     Florida 22244823.00   116939550.83  80113.20
9     GA                     Georgia 10912876.00    54701039.32      0.00
10    HI                      Hawaii  1440196.00     6914719.96      0.00
11    ID                       Idaho  1939033.00     5111706.67      0.00
12    IL                    Illinois 12582032.00    86298912.20      0.00
13    IN                     Indiana  6833037.00   106690808.98  54180.20
14    IA                        Iowa  3200517.00    47631519.00      0.00
15    KS                      Kansas  2937150.00    34297024.86      0.00
16    KY                    Kentucky  4512310.00    70909647.31      0.00
17    LA                   Louisiana  4590241.00   123261482.83      0.00
18    ME                       Maine  1385340.00     3269770.83      0.00
19    MD                    Maryland  6164660.00    18239491.65      0.00
20    MA               Massachusetts  6981974.00     9434910.38      0.00
21    MI                    Michigan 10034113.00    71926756.50      0.00
22    MN                   Minnesota  5717184.00    38072338.92  73736.10
23    MS                 Mississippi  2940057.00    32068564.43      0.00
24    MO                    Missouri  6177957.00    73072413.56  79165.40
25    MT                     Montana  1122867.00    16405523.57      0.00
26    NE                    Nebraska  1967923.00    25373930.07      0.00
27    NV                      Nevada  3177772.00    14355556.70      0.00
28    NH               New Hampshire  1395231.00     2727080.62      0.00
29    NJ                  New Jersey  9261699.00    20391514.64      0.00
30    NM                  New Mexico  2113344.00    27818927.62      0.00
31    NY                    New York 19677151.00    37177914.63  46644.50
32    NC              North Carolina 10698973.00    44095840.88      0.00
33    ND                North Dakota   779261.00    39728979.14      0.00
34    OH                        Ohio 11756058.00   104031655.68      0.00
35    OK                    Oklahoma  4019800.00    61293096.64      0.00
36    OR                      Oregon  4240137.00    12963524.54      0.00
37    PA                Pennsylvania 12972008.00   115993274.68  15714.00
38    RI                Rhode Island  1093734.00     3774990.45      0.00
39    SC              South Carolina  5282634.00    34832570.41   5620.10
40    SD                South Dakota   909824.00     5671800.50      0.00
41    TN                   Tennessee  7051339.00    35031357.22      0.00
42    TX                       Texas 30029572.00   424072997.20      0.00
43    UT                        Utah  3380800.00    38047601.01      0.00
44    VT                     Vermont   647064.00      446168.47      0.00
45    VA                    Virginia  8683619.00    38630490.87      0.00
46    WA                  Washington  7785786.00    21944182.16      0.00
47    WV               West Virginia  1775156.00    74744225.66      0.00
48    WI                   Wisconsin  5892539.00    44003566.61      0.00
49    WY                     Wyoming   581381.00    51683749.15      0.00
50    DC        District of Columbia   671803.00       88686.16      0.00
51    AS              American Samoa        0.00           0.00      0.00
52    GU                        Guam        0.00           0.00      0.00
53    MP    Northern Mariana Islands        0.00           0.00      0.00
54    PR                 Puerto Rico  3221789.00     2032470.46      0.00
55    VI  Virgin Islands of the U.S.        0.00           0.00      0.00